#######################
### FILES & FOLDERS ###
#######################

live-lectures

# remaining lectures, problem sets
lecture[4-8]*.html
ps[3-8].html

#########
### R ###
#########

.Rproj.user
.Rhistory
.RData
.Ruserdata
data/statcast_2019.csv
.DS_Store