#######################
### FILES & FOLDERS ###
#######################

# remaining lectures, problem sets
ps[8].html

#########
### R ###
#########

.Rproj.user
.Rhistory
.RData
.Ruserdata
data/statcast_2019.csv
.DS_Store
