#######################
### FILES & FOLDERS ###
#######################

# live lecture code
live-lectures
# projects assisted on
projects

#########
### R ###
#########

.Rproj.user
.Rhistory
.RData
.Ruserdata
data/statcast_2019.csv
.DS_Store
